<!doctype html>
{% load static %}
<body>

  {% include "vehicle/navbar.html" %}
    <div class="main-wrapper">
        <!-- Page Banner Section Start -->
        <div class="section page-banner-section" style="background-image: url({% static "assets/images/page-banner-bg.png);"%}">
            <div class="container">
                <!-- Page Banner Wrapper Start -->
                <div class="page-banner-wrapper">

                    <!-- Page Banner Content Start -->
                    <div class="page-banner-content">

                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h5 class="sub-title">Біз туралы</h5>
                            <h2 class="main-title">Компания Fit-Service</h2>
                        </div>
                        <!-- Section Title End -->
                    </div>
                    <!-- Page Banner Content End -->

                    <!-- Page Banner Images Start -->
                    <div class="page-banner-images">
                        <img src="{% static "assets/images/page-banner.png" %}" alt="Page Banner">
                    </div>
                    <!-- Page Banner Images End -->

                </div>
                <!-- Page Banner Wrapper End -->
            </div>
        </div>
        <!-- Page Banner Section End -->

        <!-- About Section Start -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- About Wrapper Start -->
                <div class="about-wrapper">

                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-9">
                            <!-- About Content Start -->
                            <div class="about-content content-02 text-center" data-aos="fade-up" data-aos-delay="200">

                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h5 class="sub-title">FIT-SERVICE  <strong>ОРТАЛЫҒЫНЕ ҚОШ КЕЛДІҢІЗ.</strong></h5>
                                    <h2 class="main-title">Сенімді қызмет<br> Тиімді баға</h2>
                                </div>
                                <!-- Section Title End -->

                                <p>Fit-Service жақын маңдағы елді мекендердің тұрғындарына жоғары сапалы автокөлік жөндеу және техникалық қызмет көрсету қызметтерін ұсынады. Бізде автомобиль өнеркәсібіндегі ең жаңа диагностикалық құралдар мен жабдықтарды ғана пайдаланатын ASE сертификатталған білікті техниктер тобы бар. Біз сенімді автомобиль орталығы болып табыламыз, онда біздің техниктер қызмет көрсетудің ең жоғары сапасын қамтамасыз ету үшін үздіксіз дайындықтан өтеді. Көлігіңізді жөндеу немесе техникалық қызмет көрсету үшін бізге әкелгенде, біз сізге құрметпен және сыйластықпен қараймыз. Біз сізді қажетсіз шығындармен мазаламаймыз.</p>

                                <a href="accounts" class="btn btn-custom-01">Тегін диагностика</a>

                            </div>
                            <!-- About Content End -->
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-lg-6 col-md-6">
                            <!-- About Images Start -->
                            <div class="about-images-2" data-aos="fade-up" data-aos-delay="300">
                                <img src="{% static "assets/images/about/about-4.png" %}" alt="About">
                            </div>
                            <!-- About Images End -->
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <!-- About Images Start -->
                            <div class="about-images-2" data-aos="fade-up" data-aos-delay="500">
                                <img src="{% static "assets/images/about/about-2.png" %}" alt="About">
                            </div>
                            <!-- About Images End -->
                        </div>
                    </div>

                    <div class="row gx-0 justify-content-center">
                        <div class="col-lg-8">
                            <!-- About Count Start -->
                            <div class="about-count about-count-02">
                                <!-- About Count Start -->
                                <div class="single-count" data-aos="fade-up" data-aos-delay="100">
                                    <span class="count">1000+</span>
                                    <p>Клиенттер</p>
                                </div>
                                <!-- About Count End -->
                                <!-- About Count Start -->
                                <div class="single-count" data-aos="fade-up" data-aos-delay="200">
                                    <span class="count">5+</span>
                                    <p>Филиалдар</p>
                                </div>
                                <!-- About Count End -->
                                <!-- About Count Start -->
                                <div class="single-count" data-aos="fade-up" data-aos-delay="300">
                                    <span class="count">10+</span>
                                    <p>Мамандар</p>
                                </div>
                                <!-- About Count End -->
                                <!-- About Count Start -->
                                <div class="single-count" data-aos="fade-up" data-aos-delay="400">
                                    <span class="count">110+</span>
                                    <p>Жетістіктер</p>
                                </div>
                                <!-- About Count End -->
                            </div>
                            <!-- About Count End -->
                        </div>
                    </div>

                </div>
                <!-- About Wrapper End -->

            </div>
        </div>
        <!-- About Section End -->

       <!-- Why Choose Section Start -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- Why Choose Wrapper Start -->
                <div class="choose-wrapper">
                    <div class="row align-items-center gx-xl-0">
                        <div class="col-lg-5">
                            <!-- Why Choose Content Start -->
                            <div class="choose-content" data-aos="fade-right" data-aos-delay="300">
                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h5 class="sub-title">Неліктен біз</h5>
                                    <h2 class="main-title">Сенім және қызмет көрсету-біздің басымдығымыз</h2>
                                </div>
                                <!-- Section Title End -->

                                <p>Сенімді қызмет-бұл біздің басты мақсатымыз, ол өте маңызды. Тағы да, тривиальды мысал келтіруді ұнататын ешкім жоқ, тек сенімді қызмет!</p>

                                <img src="{% static "assets/images/choose/choose.png" %}" alt="Choose">
                            </div>
                            <!-- Why Choose Content End -->
                        </div>
                        <div class="col-lg-7">
                            <!-- Why Choose Items Wrapper Start -->
                            <div class="choose-items-wrapper">
                                <div class="row gx-xl-5 align-items-center">
                                    <div class="col-sm-6">

                                        <!-- Single Choose Item Start -->
                                        <div class="single-choose-item" data-aos="fade-up" data-aos-delay="200">
                                            <div class="item-icon">
                                                <img src="{% static "assets/images/choose/icon-1.svg" %}" alt="Icon">
                                            </div>
                                            <div class="item-content">
                                                <h4 class="title">Ең жаңа жабдық</h4>
                                                <p>Автокөлікке техникалық қызмет көрсетуді тек жаңа жабдықпен жасалады</p>
                                            </div>
                                        </div>
                                        <!-- Single Choose Item End -->

                                    </div>
                                    <div class="col-sm-6">

                                        <!-- Single Choose Item Start -->
                                        <div class="single-choose-item" data-aos="fade-up" data-aos-delay="400">
                                            <div class="item-icon">
                                                <img src="{% static "assets/images/choose/icon-3.svg" %}" alt="Icon">
                                            </div>
                                            <div class="item-content">
                                                <h4 class="title">Сарапшы механика</h4>
                                                <p>Автокөлікке техникалық қызмет көрсетуді тек сертификатталған мамандар жасайды</p>
                                            </div>
                                        </div>
                                        <!-- Single Choose Item End -->

                                    </div>
                                    <div class="col-sm-6">

                                        <!-- Single Choose Item Start -->
                                        <div class="single-choose-item" data-aos="fade-up" data-aos-delay="200">
                                            <div class="item-icon">
                                                <img src="{% static "assets/images/choose/icon-2.svg" %}" alt="Icon">
                                            </div>
                                            <div class="item-content">
                                                <h4 class="title">Сапалы қызметтер</h4>
                                                <p>Автокөлікке техникалық қызмет көрсетуді тек сенімді түрде келісім шарт арқылы жасалады</p>
                                            </div>
                                        </div>
                                        <!-- Single Choose Item End -->

                                    </div>
                                    <div class="col-sm-6">

                                        <!-- Single Choose Item Start -->
                                        <div class="single-choose-item" data-aos="fade-up" data-aos-delay="400">
                                            <div class="item-icon">
                                                <img src="{% static "assets/images/choose/icon-4.svg" %}" alt="Icon">
                                            </div>
                                            <div class="item-content">
                                                <h4 class="title">Жылдам жеткізу</h4>
                                                <p>Қоңырау шалсаңыз болды өзіміз алып кетеміз</p>
                                            </div>
                                        </div>
                                        <!-- Single Choose Item End -->

                                    </div>
                                </div>
                            </div>
                            <!-- Why Choose Items Wrapper End -->
                        </div>
                    </div>
                </div>
                <!-- Why Choose Wrapper End -->


        </div>
    </div>
    <!-- Why Choose Section End -->

        <!-- Our Team Section Start -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title text-center">
                    <h5 class="sub-title">Біздің команда</h5>
                    <h2 class="main-title">Дарынды механиктер</h2>
                    <p>Сенімді қызмет  <br>біздің басты мақсатымыз. </p>
                </div>
                <!-- Section Title End -->

                <!-- Team Wrapper Start -->
                <div class="team-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <!-- Single Team Start -->
                            <div class="single-team" data-aos="fade-up" data-aos-delay="100">
                                <div class="team-images">
                                    <a href="team-profile.html"><img src="{% static "assets/images/team/team-1.jpg" %}" alt="Team"></a>
                                </div>
                                <div class="team-content">
                                    <div class="content-wrapper">
                                        <h4 class="name"><a href="team-profile.html">Дамир Б.</a></h4>
                                        <span class="designation">Қозғалтқыш механигі</span>
                                        <div class="team-meta">
                                            <p class="meta">Тәжірибе: <strong>2 жыл</strong></p>
                                            <p class="meta">Рейтинг: <span>5</span></p>
                                        </div>
                                        <ul class="social">
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Team End -->
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <!-- Single Team Start -->
                            <div class="single-team" data-aos="fade-up" data-aos-delay="200">
                                <div class="team-images">
                                    <a href="team-profile.html"><img src="{% static "assets/images/team/team-2.jpg" %}" alt="Team"></a>
                                </div>
                                <div class="team-content">
                                    <div class="content-wrapper">
                                        <h4 class="name"><a href="team-profile.html">Бахыт А.</a></h4>
                                        <span class="designation">Электропакет механигі</span>
                                        <div class="team-meta">
                                            <p class="meta">Тәжірибе: <strong>3 жыл</strong></p>
                                            <p class="meta">Рейтинг: <span>5</span></p>
                                        </div>
                                        <ul class="social">
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Team End -->
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <!-- Single Team Start -->
                            <div class="single-team" data-aos="fade-up" data-aos-delay="300">
                                <div class="team-images">
                                    <a href="team-profile.html"><img src="{% static "assets/images/team/team-3.jpg" %}" alt="Team"></a>
                                </div>
                                <div class="team-content">
                                    <div class="content-wrapper">
                                        <h4 class="name"><a href="team-profile.html">Ракымжан А.</a></h4>
                                        <span class="designation">Шиналар маманы</span>
                                        <div class="team-meta">
                                            <p class="meta">Тәжірибе: <strong>2 жыл</strong></p>
                                            <p class="meta">Рейтинг: <span>5</span></p>
                                        </div>
                                        <ul class="social">
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Team End -->
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <!-- Single Team Start -->
                            <div class="single-team" data-aos="fade-up" data-aos-delay="400">
                                <div class="team-images">
                                    <a href="team-profile.html"><img src="{% static "assets/images/team/team-4.jpg" %}" alt="Team"></a>
                                </div>
                                <div class="team-content">
                                    <div class="content-wrapper">
                                        <h4 class="name"><a href="team-profile.html">Еркебұлан А.</a></h4>
                                        <span class="designation">Жетекші маман</span>
                                        <div class="team-meta">
                                            <p class="meta">Тәжірибе: <strong>3 жыл</strong></p>
                                            <p class="meta">Рейтинг: <span>5</span></p>
                                        </div>
                                        <ul class="social">
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Team End -->
                        </div>
                    </div>
                </div>
                <!-- Team Wrapper End -->

            </div>
        </div>
        <!-- Our Team Section End -->

       <!-- Testimonials Section Start -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- Testimonials Wrapper Start -->
                <div class="testimonials-wrapper">
                    <!-- Testimonials Title Start -->
                    <div class="testimonials-title">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h5 class="sub-title">Пікірлер</h5>
                            <h2 class="main-title">НАҚТЫ КЛИЕНТТЕРДІҢ НАҚТЫ ПІКІРЛЕРІ</h2>
                            <p>Сенімді қызмет-бұл біздің басты мақсатымыз, ол өте маңызды.</p>
                        </div>
                        <!-- Section Title End -->
                    </div>
                    <!-- Testimonials Title End -->

                    <!-- Testimonials Items Start -->
                    <div class="testimonials-items testimonial-active">

                        <img class="shape" src="{% static "assets/images/testimonials.png" %}" alt="Testimonials">

                        <img class="quote" src="{% static "assets/images/quote.svg" %}" alt="quote">

                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- Single Testimonials Start -->
                                    <div class="single-testimonials">
                                        <img class="author" src="{% static "assets/images/author/author-01.jpg" %}" alt="Author">
                                        <h3 class="name">Талғат К.</h3>
                                        <p>«Тамаша қызмет және адал механик, мен әрқашан көліктерімде қиындықтар туындаған кезде келемін және әрқашан бұл орынды барлығына ұсынамын».</p>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <!-- Single Testimonials End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- Single Testimonials Start -->
                                    <div class="single-testimonials">
                                        <img class="author" src="{% static "assets/images/author/author-02.jpg" %}" alt="Author">
                                        <h3 class="name">Самат А.</h3>
                                        <p>«Бұл жерді жақсы көріңіз. Адамдар өте мейірімді және болып жатқан оқиғаларға ашық. Олар әрқашан жұмысты мүмкіндігінше тез орындайды және менің білуімше, жұмыс әрқашан жоғары деңгейде болды!»</p>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <!-- Single Testimonials End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- Single Testimonials Start -->
                                    <div class="single-testimonials">
                                        <img class="author" src="{% static "assets/images/author/author-03.jpg" %}" alt="Author">
                                        <h3 class="name">Алия А.</h3>
                                        <p>«Мен бұл қызметті көптеген жылдар бойы пайдаланып келемін. Олардың механикасы жоғары деңгейде. Олардың бағасы әрқашан әділ болды. Мен оларды жақын достары мен туыстарына ұсынамын».</p>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <!-- Single Testimonials End -->
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>

                    </div>
                    <!-- Testimonials Items End -->
                </div>
                <!-- Testimonials Wrapper End -->

            </div>
        </div>
        <!-- Testimonials Section End -->



    <!-- Brand Section Start -->
    <div class="section section-padding">
        <div class="container">

            <!-- Brand Wrapper Start -->
            <div class="brand-wrapper brand-active">
    </div>
    <!-- Brand Section End -->
    </div>
{% include "vehicle/footer.html" %}

</body>

</html>