<!doctype html>
{% load static %}
<body>

  {% include "vehicle/navbar.html" %}

    <div class="main-wrapper">


        <!-- Page Banner Section Start -->
        <div class="section page-banner-section" style="background-image: url({% static "assets/images/page-banner-bg.png);"%}">
            <div class="container">
                <!-- Page Banner Wrapper Start -->
                <div class="page-banner-wrapper">

                    <!-- Page Banner Content Start -->
                    <div class="page-banner-content">

                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h5 class="sub-title">FAQ</h5>
                            <h2 class="main-title">Жиі қойылатын сұрақтар</h2>
                        </div>
                        <!-- Section Title End -->

                        <ul class="breadcrumb">
                        </ul>
                    </div>
                    <!-- Page Banner Content End -->

                    <!-- Page Banner Images Start -->
                    <div class="page-banner-images">
                        <img src="{% static "assets/images/page-banner-3.png" %}" alt="Page Banner">
                    </div>
                    <!-- Page Banner Images End -->

                </div>
                <!-- Page Banner Wrapper End -->
            </div>
        </div>
        <!-- Page Banner Section End -->

        <!-- FAQ Section Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- FAQ Wrapper Start -->
                <div class="faq-wrapper">

                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h5 class="sub-title">Сұрақтар және жауаптар</h5>
                        <h2 class="main-title">Жиі болатын жағдайлар</h2>
                    </div>
                    <!-- Section Title End -->

                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <!-- FAQ Accordion Start -->
                            <div class="faq-accordion">

                                <div class="accordion" id="accordionFaq">
                                    <div class="accordion-item">
                                        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                            МАҒАН ПОЛИСТЕ ЖАЛҒА БЕРУДЕН САҚТАНДЫРУ ҚАЖЕТ ПЕ?
                                        </button>
                                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Автокөлік жөндеу шеберханасына қаншалықты жиі баратыныңызға байланысты жалға алуды сақтандыру жақсы идея болуы мүмкін.</p>
                                                <p>Көптеген полистер жылына қосымша қосымша ақыға (30-80 доллар) жалға алуды сақтандыруды ұсынады, егер сіздің көлігіңіз апатқа ұшыраса, жалдау ақысын жабады.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                            НЕЛІКТЕН МЕНІҢ КӨЛІГІМНІҢ БАМПЕРІ МЕН ҚАНАТЫ БАСҚА ТҮСТІ?
                                        </button>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Сіздің бамперлеріңіз бен іргелес панельдеріңіз (қанаттар, бүйірлік панельдер) әртүрлі түстерде көрінуі мүмкін көптеген себептер бар. Ең жиі кездесетіні-бұл зауытта осылай жасалған. </p>

                                                <p>Ең жиі кездесетіні-бұл зауытта осылай жасалған. Сенсеңіз де, сенбесеңіз де, сіздің кіреберіс жолыңызда бүтін және зақымдалмаған көлігіңіз бүкіл әлем бойынша мыңдаған бөліктерге бөлінді.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                            МЕН КӨЛІГІМДЕ СИНТЕТИКАЛЫҚ МОТОР МАЙЫН ҚОЛДАНУДЫ ҚАРАСТЫРУЫМ КЕРЕК ПЕ?
                                        </button>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Синтетикалық мотор майлары жоғары өнімділік үшін жақсы таңдау болуы мүмкін, Турбо немесе супер зарядталған. </p>

                                                <p>Немесе сүйрету үшін пайдаланылатын көліктер үшін (әсіресе ыстық ауа-райында), сондай-ақ өте суық немесе ыстық климатта жұмыс істейтін көліктер үшін. Синтетикалық мотор майлары минералды майларға қарағанда қымбатырақ болса да, отын үнемдеуді арттырады және ауыстыру аралықтарын ұзартады.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                            ШИНАЛАРДЫ ҚАНШАЛЫҚТЫ ЖИІ АУЫСТЫРУЫМ КЕРЕК?
                                        </button>
                                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Сіздің шиналарыңыз майды ауыстырған сайын немесе 6000 миль сайын өзгеруі керек. Шиналардың айналуын елемеу шиналардың мерзімінен бұрын тозуының негізгі себебі болып табылады.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                            ЕГЕР МЕНІҢ КӨЛІГІМ ҚЫЗЫП КЕТЕ БАСТАСА НЕ ІСТЕУІМ КЕРЕК?
                                        </button>
                                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Бұл өте маңызды мәселе-егер сіздің көлігіңіз тым ұзақ қызып кетсе, қозғалтқышты зақымдауы мүмкін. Мүмкіндігінше тезірек жолдан шығу үшін қауіпсіз орынды тауып, қозғалтқышты өшіріңіз! </p>

                                                <p>Радиатордағы сұйықтық деңгейін тексеруге тырыспаңыз; ыстық сұйықтық қатты күйік тудыруы мүмкін. Ең жақсы нәрсе — сіздің көлігіңізді жақын жердегі сенімді автокөлік қызметіне сүйреу.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- FAQ Accordion End -->

                            <!-- FAQ Button Start -->
                            <div class="faq-btn">
                                <a href="contactus" class="btn btn-custom-01">Басқа сұрақтар</a>
                            </div>
                            <!-- FAQ Button End -->
                        </div>
                    </div>

                </div>
                <!-- FAQ Wrapper End -->

            </div>
        </div>
        <!-- FAQ Section End -->
    </div>
{% include "vehicle/footer.html" %}
</body>
</html>