<!doctype html>
{% load static %}
<body>
{% include "vehicle/navbar.html" %}
        <!-- Page Banner Section Start -->
        <div class="section page-banner-section" style="background-image: url({% static "assets/images/page-banner-bg.png"%});">
            <div class="container">
                <!-- Page Banner Wrapper Start -->
                <div class="page-banner-wrapper">

                    <!-- Page Banner Content Start -->
                    <div class="page-banner-content">

                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h5 class="sub-title">КЫЗМЕТТЕР</h5>
                            <h2 class="main-title">Батарея Ауыстыру</h2>
                        </div>
                        <!-- Section Title End -->

                        <ul class="breadcrumb">
                        </ul>
                    </div>
                    <!-- Page Banner Content End -->

                    <!-- Page Banner Images Start -->
                    <div class="page-banner-images">
                        <img src="{% static "assets/images/page-banner-2.png"%}" alt="Page Banner">
                    </div>
                    <!-- Page Banner Images End -->

                </div>
                <!-- Page Banner Wrapper End -->
            </div>
        </div>
        <!-- Page Banner Section End -->

        <!-- Service Details Section Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- Service Details Wrapper Start -->
                <div class="service-details-wrapper">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8">

                            <!-- Service Details Content Start -->
                            <div class="service-details-content">
                                <div class="details-image">
                                    <img src="{% static "assets/images/service/s4.jpg"%}" alt="Service">
                                </div>
                                <h2 class="title">Батареяны ауыстыру қызметі</h2>
                                <p>Сіздің көлігіңіздің аккумуляторы қозғалтқышты іске қосу және оның электр жүйелерін қуаттандыру үшін қажет.</p>
                                <p>Біздің аккумуляторды ауыстыру қызметі сіздің көлігіңіздің электр жүйесінің үздіксіз жұмыс істеуіне кепілдік беретін ең жақсы аккумуляторлар мен тәжірибелі техниктерді ұсынады. </p>

                                <div class="details-description">
                                    <div class="description">
                                        <h3>Диагностикасы</h3>
                                        <p>Біз сіздің нақты көлік қажеттіліктеріңізге және бюджетіңізге сәйкес жетекші брендтердің аккумуляторларының кең ауқымын ұсынамыз:</p>
                                        <ul>
                                            <li><i class="fa fa-angle-double-right"></i> Жетекші брендтердің жоғары сапалы батареялары;</li>
                                            <li><i class="fa fa-angle-double-right"></i> Тәжірибелі техниктер жылдам қызмет көрсетеді;</li>
                                            <li><i class="fa fa-angle-double-right"></i> Батареяларға техникалық қызмет көрсету қызметтері;</li>
                                            <li><i class="fa fa-angle-double-right"></i> Электр жүйесін жан-жақты тексеру;</li>
                                        </ul>
                                    </div>
                                    <div class="images">
                                        <img src="{% static "assets/images/service/s4-.webp"%}" alt="Service">
                                    </div>
                                </div>

                                <p>Біздің тәжірибелі мамандар кез-келген батарея ақауларын дұрыс анықтайды және жаңа батареяны тез және тиімді орнатады. Сонымен қатар, біз батареяның қызмет ету мерзімін ұзартуға көмектесетін батареяларға техникалық қызмет көрсету қызметтерін ұсынамыз.</p>

                                <p>Бізге сеніңіз, біз сізге ең жақсы "батареяны ауыстыру" қызметін ұсынамыз және көлігіңіздің үздіксіз жұмыс істеуін қамтамасыз етеміз.</p>


                            </div>
                            <!-- Service Details Content End -->

                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Sidebar Start -->
                            <div class="sidebar">

                                <!-- Widget Sidebar Start -->
                                <div class="widget-sidebar">
                                    <ul class="category">
                                        <li><a href="service-1">Құлыпқа қарсы тежегіш жүйесі</a></li>
                                        <li><a href="service-2">Қозғалтқышқа қызмет көрсету</a></li>
                                        <li><a href="service-3">Автомобильді комплекс Жуу</a></li>
                                        <li><a href="service-4">Батарея Ауыстыру</a></li>
                                        <li><a href="service-5">Май және фильтр Ауыстыру</a></li>
                                        <li><a href="service-6">Шиналарды жөндеу және Ауыстыру</a></li>
                                    </ul>
                                </div>
                                <!-- Widget Sidebar End -->

                            </div>
                            <!-- Sidebar End -->
                        </div>
                    </div>
                </div>
                <!-- Service Details Wrapper End -->

            </div>
        </div>
        <!-- Service Details Section End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

{% include "vehicle/footer.html" %}
</body>
</html>