<!doctype html>
{% load static %}
<body>
{% include "vehicle/navbar.html" %}
        <!-- Page Banner Section Start -->
        <div class="section page-banner-section" style="background-image: url({% static "assets/images/page-banner-bg.png"%});">
            <div class="container">
                <!-- Page Banner Wrapper Start -->
                <div class="page-banner-wrapper">

                    <!-- Page Banner Content Start -->
                    <div class="page-banner-content">

                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h5 class="sub-title">КЫЗМЕТТЕР</h5>
                            <h2 class="main-title">Шиналарды жөндеу және Ауыстыру</h2>
                        </div>
                        <!-- Section Title End -->

                        <ul class="breadcrumb">
                        </ul>
                    </div>
                    <!-- Page Banner Content End -->

                    <!-- Page Banner Images Start -->
                    <div class="page-banner-images">
                        <img src="{% static "assets/images/page-banner-2.png"%}" alt="Page Banner">
                    </div>
                    <!-- Page Banner Images End -->

                </div>
                <!-- Page Banner Wrapper End -->
            </div>
        </div>
        <!-- Page Banner Section End -->

        <!-- Service Details Section Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- Service Details Wrapper Start -->
                <div class="service-details-wrapper">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8">

                            <!-- Service Details Content Start -->
                            <div class="service-details-content">
                                <div class="details-image">
                                    <img src="{% static "assets/images/service/s6.jpg"%}" alt="Service">
                                </div>
                                <h2 class="title">Шиналарды ауыстыру және жөндеу қызметтері</h2>
                                <p>Жарылған шина үлкен қолайсыздықтар тудыруы мүмкін, бірақ біздің "шиналарды ауыстыру және жөндеу" қызметімен жолға тез және қауіпсіз орала аласыз.</p>
                                <p>Біздің тәжірибелі техниктер шиналарға қатысты мәселелерді тиімді диагностикалау және шешу үшін ең заманауи жабдықтар мен технологиялармен жабдықталған.</p>

                                <div class="details-description">
                                    <div class="description">
                                        <h3>Диагностикасы</h3>
                                        <p>Біз сіздің нақты қажеттіліктеріңізге және бюджетіңізге сәйкес жетекші брендтердің жоғары сапалы шиналарының кең ауқымын ұсынамыз.</p>
                                        <ul>
                                            <li><i class="fa fa-angle-double-right"></i> Жылдам және тиімді техникалық қызмет көрсету</li>
                                            <li><i class="fa fa-angle-double-right"></i> Тәулік бойы авариялық шиналарды монтаждау қызметі</li>
                                            <li><i class="fa fa-angle-double-right"></i> Озық технологиялар мен жабдықтар</li>
                                            <li><i class="fa fa-angle-double-right"></i> Жоғары сапалы шиналардың кең таңдауы</li>
                                            <li><i class="fa fa-angle-double-right"></i> Жоғары білікті техниктер</li>
                                            <li><i class="fa fa-angle-double-right"></i> Бәсекеге қабілетті бағалар және тұтынушыларға тамаша қызмет көрсету.</li>
                                        </ul>
                                    </div>
                                    <div class="images">
                                        <img src="{% static "assets/images/service/s6-.jpg"%}" alt="Service">
                                    </div>
                                </div>

                                <p>Біздің мамандар шиналарды тез және тиімді ауыстыруға және жөндеуге үйретілген, осылайша сіз қысқа мерзімде жолға ораласыз. Сонымен қатар, біз сізге ең қажет кезде сізге көмектесу үшін тәулік бойы шұғыл Шиналарды орнату қызметін ұсынамыз.</p>

                                <p>Бізге сеніңіз, біз сізге ең жақсы "шиналарды ауыстыру және жөндеу" қызметін ұсынамыз және жолға тыныш жанмен оралуға көмектесеміз.</p>


                            </div>
                            <!-- Service Details Content End -->

                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Sidebar Start -->
                            <div class="sidebar">

                                <!-- Widget Sidebar Start -->
                                <div class="widget-sidebar">
                                    <ul class="category">
                                        <li><a href="service-1">Құлыпқа қарсы тежегіш жүйесі</a></li>
                                        <li><a href="service-2">Қозғалтқышқа қызмет көрсету</a></li>
                                        <li><a href="service-3">Автомобильді комплекс Жуу</a></li>
                                        <li><a href="service-4">Батарея Ауыстыру</a></li>
                                        <li><a href="service-5">Май және фильтр Ауыстыру</a></li>
                                        <li><a href="service-6">Шиналарды жөндеу және Ауыстыру</a></li>
                                    </ul>
                                </div>
                                <!-- Widget Sidebar End -->

                            </div>
                            <!-- Sidebar End -->
                        </div>
                    </div>
                </div>
                <!-- Service Details Wrapper End -->

            </div>
        </div>
        <!-- Service Details Section End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

{% include "vehicle/footer.html" %}
</body>
</html>