<!doctype html>
{% load static %}
<html class="no-js" lang="en">

        <!-- Footer Section Start -->
        <div class="section footer-section" style="background-image: url('{% static "assets/images/footer-bg.jpg" %}') ">

            <!-- Footer Widget Start -->
            <div class="footer-widget-section section-padding">
                <div class="container">

                    <!-- Footer Widget Wrapper Start -->
                    <div class="footer-widget-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 order-md-1 order-lg-1">

                                <!-- Footer Widget Start -->
                                <div class="footer-widget" data-aos="fade-up" data-aos-delay="100">
                                    <a class="footer-logo" href="#"><img src="{% static "assets/images/logo.svg"%}" alt="Logo"></a>
                                    <p>Сенімді қызмет - бұл біздің басты мақсатымыз, оған жету өте қиын. Бізде өз ісінің мамандары жұмыс жасайды.</p>

                                    <div class="widget-info">
                                        <h6 class="title">Тез қызмет</h6>
                                        <p>Келіңіз және сіздің барлық автокөлік күтімі қажеттіліктеріңізді шешуге рұқсат етіңіз. Біз көмектесуге әрқашан дайынбыз!</p>
                                    </div>
                                </div>
                                <!-- Footer Widget End -->

                            </div>
                            <div class="col-lg-6 order-md-3 order-lg-2">

                                <!-- Footer Link End -->
                                <div class="footer-link-wrapper">

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget" data-aos="fade-up" data-aos-delay="200">
                                        <h3 class="footer-widget-title">Тез өту</h3>

                                        <ul class="widget-link">
                                            <li><a href="aboutus">Біз туралы</a></li>
                                            <li><a href="service">Қызметтер</a></li>
                                            <li><a href="faq">FAQ</a></li>
                                            <li><a href="contactus">Байланыс</a></li>
                                            <li><a href="customerlogin">Логин</a></li>
                                        </ul>
                                    </div>
                                    <!-- Footer Widget End -->

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget" data-aos="fade-up" data-aos-delay="300">
                                        <h3 class="footer-widget-title">Сервис Қызметтері</h3>

                                        <ul class="widget-link">
                                            <li><a href="service-1">Құлыпқа қарсы тежегіш жүйесі</a></li>
                                            <li><a href="service-2">Қозғалтқышқа қызмет көрсету</a></li>
                                            <li><a href="service-3">Автомобильді комплекс Жуу</a></li>
                                            <li><a href="service-4">Батарея Ауыстыру</a></li>
                                            <li><a href="service-5">Май және фильтр Ауыстыру</a></li>
                                            <li><a href="service-6">Шиналарды жөндеу және Ауыстыру</a></li>
                                        </ul>
                                    </div>
                                    <!-- Footer Widget End -->

                                </div>
                                <!-- Footer Link End -->

                            </div>
                            <div class="col-lg-3 col-md-6 order-md-2 order-lg-3">

                                <!-- Footer Widget Start -->
                                <div class="footer-widget" data-aos="fade-up" data-aos-delay="400">
                                    <h3 class="footer-widget-title">Байланыс</h3>

                                    <div class="widget-subscribe">
                                        <p>АЛМАТЫ, ӘЛ-ФАРАБИ ДАҢҒЫЛЫ, 77/8</p>
                                        <p><span>Телефон</span>: +7 747 777 77 77</p>
                                        <p><span>Email</span>: fit-service@gmail.com</p>
                                    </div>

                                    <div class="widget-opening">
                                        <h6 class="title">Жұмыс күндер</h6>

                                        <p>ДҮЙСЕНБІ-ЖҰМА: 8:00 — 20:00</p>
                                        <p>СЕНБІ: 8:00 — 2:00</p>
                                    </div>
                                </div>
                                <!-- Footer Widget End -->

                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Wrapper End -->

                </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Copyright End -->
            <div class="footer-copyright-section">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                        <div class="copyright-text">
                            <p style="margin-left: 35%">&copy; 2023 <span> Fit-Service </span> Made with by <a href="#">Students of Satbayev University</a></p>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
        <!-- Footer Section End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

    <!-- JS-->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static "assets/js/vendor/modernizr-3.11.2.min.js"%}"></script>
    <script src="{% static "assets/js/vendor/jquery-3.6.0.min.js"%}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static "assets/js/plugins/popper.min.js"%}"></script>
    <script src="{% static "assets/js/plugins/bootstrap.min.js"%}"></script>

    <!-- Plugins JS -->
    <script src="{% static "assets/js/plugins/swiper-bundle.min.js"%}"></script>
    <script src="{% static "assets/js/plugins/jquery-ui.min.js"%}"></script>
    <script src="{% static "assets/js/plugins/select2.min.js"%}"></script>
    <script src="{% static "assets/js/plugins/ajax-contact.js"%}"></script>
    <script src="{% static "assets/js/plugins/aos.js"%}"></script>


    <!-- Main JS -->
    <script src="{% static "assets/js/main.js"%}"></script>

</body>

</html>